<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>LOGIN</title>
    <!--Incluimos los iconos y la topología de la letra de nuestra página-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!--Estilos de las animaciones-->
    <link href="../static/css/estilos.css" rel="stylesheet" />
    <!--Estilos de la página-->
    <link href="../static/css/styles.css" rel="stylesheet" />
    <!--Estilos del login-->
    <link href="../static/css/styles_login.css" rel="stylesheet" />
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="">Proyect Unit 3</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="">RETURN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Inicio del Header-->
    <header class="masthead bg-primary text-white text-center">
        <section class="banner contenedor">
            <secrion class="banner_title">
                <h2> <br></h2>
                <h2> <br></h2>
                <h2> <br></h2>
                <h2> <br></h2>
                <h2> <br></h2>
            </secrion>
            <div class="container">
                <div class="login-box">
                    <!--Formulario de ingreso-->
                    <h2>Inicios de sesión</h2>
                    <form name="login">
                        <div class="user-box">
                            <input name="usuario" type="text" class="Input" />
                            <label for="user">Correo Electronico</label>
                        </div>
                        <div class="user-box">
                            <input name="password" type="password" class="Input" />
                            <label for="pass">Contraseña</label>
                        </div>
                        <a>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <button value="INGRESAR" target="_parent" onclick="Login()" type="button"
                                class="btn btn-light">INGRESAR</button>
                    </form>
                </div>
            </div>
        </section>

        <!--Animación de las burbujas-->
        <div class="burbujas">
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
        </div>
    </header>
    <!--Fin del Header-->
    <!-- Footer-->
    <!--
    <footer class="footer text-center">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Ubicacion</h4>
                    <p class="lead mb-0">
                        Universidad de las Fuerzas Armadas Espe, Sede Santo Domingo
                        <br />
                        Luz de America, KM 24 via Quevedo
                    </p>
                </div>

                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Acerca de la Web</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i
                            class="fab fa-fw fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!">
                        <i class="fab fa-fw fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i 
                            class="fab fa-fw fa-github"></i></a>
                </div>

                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">Acerca de Nosotros</h4>
                    <p class="lead mb-0">
                        Proyecto realizado por Steveen Sinchiguano y
                        Julissa Renteria para la materia de Aplicaciones
                        Web.
                    </p>
                </div>
            </div>
        </div>
    </footer> -->
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright &copy; Sitio Web de Steveen Sinchiguano 2022</small></div>
    </div>
</body>

</html>
<!--Codigo JavaScript para la validacion de datos-->
<script language="JavaScript">
    function Login() {
        var done = 0;
        var usuario = document.login.usuario.value;
        var password = document.login.password.value;
        if (usuario == "sjsinchiguano@espe.edu.ec" && password == "12345") {
            window.location = "{{ url_for('interfaceadmin') }}";
        }
        if (usuario == "jjrenteria1@espe.edu.ec" && password == "12345") {
            window.location = "#";
        }
    } 
</script>